body,
html {
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: lightblue;
}

.container-fluid{
    padding: 70px 25px 10px 25px;
} 

.container-fluid h5{
    text-align: left;
    color: rgb(56, 201, 153);
}

.card-temp{
    padding: 10px;
}

.card{
    width:25rem;
    margin: auto;
    padding: 0;
}

.card-body{
    padding: 15px;
}

.lform{
    background-color: rgb(218, 58, 58);
}

.rform{
    background-color: rgb(77, 57, 233);
}