body,
html {
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: lightblue;
}

.container-fluid{
    padding: 70px 25px 20px 25px;
} 

.container-fluid h5, .container-fluid h7{
    text-align: center;
    color: rgb(56, 201, 153);
}

.card-temp, .pass-nav{
    padding: 30px;
}

.card{
    width:32em;
    margin: auto;
    padding: 15px 35px 5px 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 10px, inset rgba(0, 0, 0, 0.15) 0px 0px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 10px, inset rgba(0, 0, 0, 0.15) 0px 0px 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 10px, inset rgba(0, 0, 0, 0.15) 0px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 10px, inset rgba(0, 0, 0, 0.15) 0px 0px 3px;
}

.card-header, .card-footer{
    background-color: white;
}

.card-h-custom{
    background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    color: whitesmoke;
}

.card-body, .pass-nav{
    padding: 15px 55px 0 55px;
}

.card-outside{
    /* height: 10em;  */
    width: 53.5rem;
    padding: 0;
    margin: auto;
}

.card-inside-outer{
    padding: 0;
    margin: auto;
}

.card-inside{
    height: 33rem; 
    width: auto;
    margin: 0;
    /* padding: 15px 35px 5px 35px; */
    padding: 0;
    -webkit-box-shadow: None;
    -moz-box-shadow:None;
    -o-box-shadow: None;
    box-shadow: None;
}

.hover-t:hover {
	text-decoration: underline;
}

.cart-table{
    padding: 170px 230px 15px 230px;
}

table{
    background-color: whitesmoke;
}

table thead{
    background-color: rgb(62, 55, 54);
    color: whitesmoke;
}

.copy-beauty{
    padding-top: 2em;
}